.home--container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    min-height: 100vh;
}

p {
    font-size: 10rem;
    font-family: 'Quicksand', sans-serif;
}

small {
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif;
}

label {
    color: black;
    font-weight: 200;
}

.btn--login {
    font-family: 'Quicksand', sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
}

.btn--signUp {
    font-size: 1.75rem;
    font-family: 'Quicksand', sans-serif;
}

.modal {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.25rem;
}

.modal--header {
    font-weight: 600;
}

@media screen and (max-width: 391px) {
    p {
        font-size: 5.5rem;
    }
}
